body {
    box-sizing: border-box;
    background-color: black !important;
    color: white !important;
    font-family: Montserrat, sans-serif !important;
}


#refresh {
    margin: 25px auto !important;
    color: yellow;
    font-weight: bolder;
    letter-spacing: 8px;
    word-spacing: 10px;
    font-style: italic !important;
    text-shadow: 5px 3px red;
}


.playersName {
    margin: 60px auto 35px;
}


#player1, 
#player2 {
    text-decoration: underline;
}


#imgDice1,
#imgDice2 {
    width: auto !important;
    height: auto !important;
}


.playerWon {
    margin: 40px auto auto;
}


#player1Wins,
#player2Wins,
#matchDraw {
    text-shadow: 1px 3px green;
}


.matchTied {
    margin: -8px auto auto !important;
}